/* some style */
/* utility */
.flex-column {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.big-text {
  font-size: 200%;
  font-weight: bolder;
}

/* defaults for elements*/
* {
  margin: 0px;
}
.inline-block {
  display: inline-block;
}

/* containers */
html,
body,
#app {
  width: 100%;
  height: 100%;
}
.game {
  width: 99%;
  height: 96%;
}
body {
  border-size: border-box;
  margin: 5px;
}
.board {
  border: 1px solid black;
  position: relative;
  height: 100%;
}

/* players */
.player {
  position: absolute;
  display: inline-block;
  text-align: center;
}
.no-select {
  -webkit-user-select: none;
  user-select: none;
}

.absolute {
  position: absolute;
}
.top {
  top: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}
.right {
  right: 0;
}

/* info */
.mode-button {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
  background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
  background-color:#f9f9f9;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #dcdcdc;
  display:inline-block;
  cursor:pointer;
  color:#666666;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
}
.mode-button:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
  background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
  background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
  background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
  background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
  background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
  background-color:#e9e9e9;
}
.mode-button:active {
  position:relative;
  top:1px;
}

.active-mode-button {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0));
  background:-moz-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
  background:-webkit-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
  background:-o-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
  background:-ms-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
  background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0',GradientType=0);
  background-color:#3d94f6;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #337fed;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
}
.active-mode-button:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6));
  background:-moz-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
  background:-webkit-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
  background:-o-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
  background:-ms-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
  background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6',GradientType=0);
  background-color:#1e62d0;
}
.active-mode-button:active {
  position:relative;
  top:1px;
}

/* decks */
.deck-list {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.deck {
  margin: 5px;
  position: relative;
  border: 1px solid red;

  height: -webkit-calc(167px + 20px);
  height: calc(167px + 20px);

  width: 115px;
}
.deck .title {
  margin-left: auto;
  margin-right: auto;
  line-height: 30px;
  text-align: center;
}
.deck .card {
  position: absolute;
  top: 20px;
}

/* stacks */
.stacks {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.stack {
  border: 1px solid red;
  width: 115px;
  text-align: center;
  margin: 2px;

  height: -webkit-calc(167px + 20px);
  height: calc(167px + 20px);
}

/* cards */
.cards {
  position: relative;
}
.card {
  display: inline-block;
  text-align: center;

  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 1px #888888;

  background-color: darkblue;

  padding: 3px;
  margin: 3px;
  width: 100px;
  height: 150px;

  transform: scale(1) translate(0, 0);
  transition: transform 0.2s linear;
}
.card:hover {
  transform: scale(1.02);
  cursor: pointer;
}
.number-wrapper {
  background-color: black;
  border-radius: 10px;
}

/* colours */
.red {
  background-color: red;
  color: white;
}

.blue {
  background-color: blue;
  color: white;
}

.white {
  background-color: white;
  color: white;
}

.green {
  background-color: green;
  color: white;
}

.yellow {
  background-color: yellow;
  color: white;
}

.unknown {
  background-color: grey;
  color: white;
}
